@using propertyProject.ViewModels
@model LoginFormViewModel
@{
    ViewData["Title"] = "Login Page";
}
<body class="starter-page-page">
    <main class="main">
        <section id="starter-section" class="starter-section section">
            <div class="login-form" style=" width: 50%; margin: auto">
                <h2 class="text-center">Login</h2>
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Enter your Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <p class="text-danger">@ViewBag.Error</p>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center">
                        <p>Don't have an account? <a asp-action="Register">Register</a></p>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>

